<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesianostriana.proyectoconjunto.weatherdam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weather_dam_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppStyle">
        <activity
            android:name=".WeatherMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeatherDetailsActivity"
            android:theme="@style/AppStyle.NoActionBar">
        </activity>
    </application>

</manifest>
